@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbg{
    color: #2f2f2f;
    /* background-color: 	#f3dfc1; */
    text-align: center;
    padding: 15px 0px 8px 0px;
}

.navfont{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  
}

.navimg{
  margin-bottom: 30px;
}

.navunderline{
    color: #000000;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 7px;
    margin-top: -40px;
    padding: 0px 0px 20px 0px;
}

@media screen and (max-width:882px){
  .navimg{
    margin-bottom: 0px;
  }

  .navunderline{
    margin-top: 0px;
  }
}

.result{
  padding: 20px 0px 0px 0px;
}

/* Footer css */
.footer {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	padding: 5px 0;
	border-top: 3px double black;
	border-bottom: 3px double black;
}

.searchcontainer {
  margin: auto auto;
  width: 80%;
  max-width:600px;
}

/* The point of this tutorial is here */
.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  padding: 0 10px;
  border: none;
  outline: none;
  margin-left: -33px;
  border-radius: 0 100px 100px 0; 
}

.search-button:hover{
  cursor:pointer;
}

.headline.hl1{
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;

}

.headline.hl11{
  font-weight: 550;
  font-size: 30px;
  font-style: italic;
  padding: 10px 0 10px 0;

}


.citation{
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 44px;
  /*font-style: italic;*/
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 40px 0 40px 0;
  font-feature-settings: "liga", "dlig";

}
.citation:before{
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
 .citation:after{
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
 .figure {
  padding: 40 0 20 0px;
  align-items: center;
}
.figcaption{
font-style: italic;
font-size: 12px;
}
.media {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
  width: 100%;
  margin-right: 30%;
  margin-top: 50%;
}

.headline.hl4{
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  text-align: center;
}
.headline.hl4:before{
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.headline.hl4:after{
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;

}

.founderh1 {
   font-family: Oswald, serif; 
   font-size: 4rem;
   text-align: center;
}



